@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$page-bg: #ffffff;
$color-red: #ef0633;

$minitab: 700px;
@mixin minitab {
  @media (max-width: #{$minitab}) {
    @content;
  }
}

$tablet: 991px;
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

$tabletpro: 1160px;
@mixin tabletpro {
  @media (max-width: #{$tabletpro}) {
    @content;
  }
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  margin-top: 0em !important;
  margin-bottom: 0rem !important;
  padding: 0em !important;
  line-height: 25px;
}
p {
  font-size: 14px;
  margin-top: 0em;
  margin-bottom: 0rem;
  padding: 0em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0em;
  margin-bottom: 0rem;
  padding: 0em;
}
.fas {
  padding: 0em 0.8em;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  color: $color-red;
}
hr {
  margin: 2em 0em;
  border: 0.1px solid #f99bad;
  opacity: 0.2;
  @include tablet {
    width: 100% !important;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}

header {
  background: url("images/Mask Group.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 130vh;
  color: $page-bg;
  @include tabletpro {
    height: 60vh;
  }
  .container-fluid {
    padding: 0;
  }

  .navbar-toggler {
    border: none;
    outline: none;
  }
  span {
    color: $color-red;

    .fa {
      font-size: 1.5em !important;
      @include minitab {
        font-size: 1em !important;
      }
    }
      .fa-bars:after {
        content: "\f00d";
        font-weight:900;
    }
  }

  .navbar {
    padding: 1.5em 3em;
    @include minitab {
      padding: 1.5em;
    }

    .logo {
      img {
        width: 100%;
        height: 100%;
        @include minitab {
          width: 70%;
        }
      }
    }

    .navbar-collapse {
      z-index: 20 !important;
    }
    ul {
      list-style: none;
      @include tablet {
        margin: 2em 0em;
      }

      li {
        padding: 0em 1em;
        @include tablet {
          padding: 1em 0em;
        }
        a {
          color: $page-bg;
          &:hover {
            color: $color-red;
          }
          @include tablet {
            text-align: center;
            font-size: 20px !important;
          }
        }
      }
    }
  }
  .heading_social {
    position: absolute;
    top: 10%;
    left: 0;
    padding: 0em 0.6em;
    @include tablet {
      top: 4% !important;
    }
    @include minitab {
      top: 2% !important;
    }

    a {
      font-size: 12px;
      display: block;
    }
  }
  .heading_text {
    width: 45%;
    margin: 21em auto;
    text-align: center;
    @include tabletpro {
      width: 60% !important;
    }
    @include tablet {
      margin: 12em auto !important;
    }
    @include minitab {
      width: 78% !important;
      margin: 9em auto !important;
    }
    p {
      font-size: 15px;
      letter-spacing: 0.5px;
      @include minitab {
        display: none;
      }
    }
    h3 {
      font-size: 40px;
      font-weight: bold;
      @include tablet {
        font-size: 31px !important;
      }
      @include minitab {
        font-size: 28px !important;
      }
    }
  }
}

// section 1
.section1 {
  width: 80%;
  margin: 3em auto;
  .content {
    display: flex;
    justify-content: space-between;
    @include tablet {
      display: block;
    }

    .content_words {
      flex-direction: column;
      display: flex;
      flex-basis: 47.5%;
      text-align: justify;
      @include tablet {
        margin: 2em 0em;
      }
      .word2 {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        color: $color-red;
        font-size: 13px;
        text-align: left;
        @include tablet {
          margin-top: 2em;
        }
        @include minitab() {
          display: block;
        }

        .mission,
        .vision {
          background-color: rgba(249, 155, 173, 0.5);
          padding: 2em;
          flex-basis: 46.5%;
        }
        h6 {
          font-weight: bolder;
          font-size: 15px;
        }
      }
    }
    .content_image {
      flex-basis: 47.5%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .btn_discover {
    margin: 3em 0em;
    button {
      border-radius: 6px;
      font-size: 15px;
      color: $page-bg;
      padding: 0.6em 1em;
      outline: none;
      border: none;
      background-color: $color-red;
      font-weight: bold;
    }
  }
}

// section 1
.section2 {
  width: 80%;
  margin: 7em auto 5em auto;

  .content {
    display: flex;
    justify-content: space-between;
    @include tablet {
      display: block;
    }
    .card {
      border-radius: 1em;
      box-shadow: rgba(136, 136, 136, 0.25) 0px 6px 15px;

      @include tabletpro {
        width: 30%;
      }
      @include tablet {
        width: 100%;
        margin: 2em 0em;
      }
      .content_img {
        color: $page-bg;
        position: relative;
        img {
          border-top-right-radius: 1em;
          border-top-left-radius: 1em;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center;
        }
        p {
          border-top-right-radius: 1em;
          border-bottom-right-radius: 1em;

          padding: 0.5em 1em;
          position: absolute;
          top: 30px;
          left: 0;
        }
      }
      .content_words {
        width: 70%;
        margin: 3em auto;
        text-align: center;
        font-size: 12px;
        h6 {
          font-size: 15px;
        }
        p {
          color: $color-red;
          font-weight: bolder;
        }
        span {
          display: block;

          margin: 1em 0em !important;
        }
        button {
          border: 1px solid black;
          border-radius: 2em;
          font-size: 15px;
          padding: 0.8em;
          outline: none;
          background-color: $page-bg;
          font-weight: bold;
          width: 100%;
        }
      }
    }
  }
  .view_btn {
    margin-top: 5em;
    text-align: center;
    button {
      border-radius: 0.4em;
      font-size: 15px;
      color: $page-bg;
      padding: 0.6em 1em;
      outline: none;
      border: none;
      background-color: $color-red;
      font-weight: bold;
    }
  }
}

.section3 {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 33, 71, 0.5),
      rgba(0, 33, 71, 0.5)
    ),
    url("images/shutterstock_1414700966\ 1.png");
  color: white;
  padding: 8em;
  @include tablet {
  }

  p {
    font-size: 12px;
  }
  h2 {
    margin: 0.3em 0em;
    font-size: 25px;
    font-weight: bold;
  }
  .content_card {
    text-align: left;
    .top_card {
      margin-top: 3em;
      display: flex;
      justify-content: space-between;
      @include tablet {
        display: block;
      }
      .card {
        width: 32%;
      }
    }
    .bottom_card {
      margin-top: 1.5em;
      display: flex;
      justify-content: space-between;
      @include tablet {
        display: block;
        margin-top: 0em;
      }
      .card {
        width: 49%;
      }
    }
    .card {
      color: white;
      border-radius: 6px;
      padding: 2em;
      @include tablet {
        width: 100% !important;
        margin: 1em 0em;
      }

      h6 {
        height: 14%;
        line-height: 25px;
        font-size: 25px;
        font-weight: bold;
        width: 90%;
        margin-bottom: 2em;
        @include tabletpro {
          font-size: 24px;
        }
        @include tablet {
          font-size: 22px;
        }
      }
      span {
        display: inline-block;
        font-weight: bold;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

// section4
.section4 {
  width: 80%;
  margin: 6em auto;

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
      display: block;
    }
    .card {
      margin-bottom: 2em;
      width: 48%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      background-color: rgba(242, 242, 242, 0.3);
      @include tablet {
        width: 100%;
      }
      .card_words {
        width: 50%;
        margin: auto;
        p {
          font-size: 14px;
          color: $color-red;
          font-weight: bold;
          line-height: 20px;
        }
        span {
          font-size: 10px;
          display: inline-block;
        }
      }
      .card_img {
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

footer {
  color: $page-bg;
  background-color: $color-red;
  position: relative;
  font-size: 12px;

  .chat_btn {
    position: absolute;
    top: -10%;
    right: 10%;
    @include tablet {
      top: -5%;
    }
    button {
      box-shadow: rgba(136, 136, 136, 0.25) 0px 6px 15px;
      border-radius: 2em;
      font-size: 15px;
      color: $color-red;
      padding: 0.5em 0.8em;
      outline: none;
      border: none;
      background-color: $page-bg;
      font-weight: bold;
      width: 100%;
      .far {
        color: $page-bg;
        border-radius: 2em;
        background-color: $color-red;
        margin-left: 1em;
        padding: 1em;
      }
    }
  }

  .content {
    width: 88%;
    margin: auto;
    padding: 4em 4em 4em 0em;
    @include tablet {
      width: 80%;
      padding: 4em 0em;
      text-align: center !important;
    }
    .top_content {
      margin: 4em 0em;
      display: flex;
      justify-content: space-between;
      @include tablet {
        display: block;
        margin-bottom: 2em;
      }
      .logo {
        img {
          width: 90%;
          @include tablet {
            width: 40%;
          }
        }
      }
      .nav_link {
        @include tablet {
          margin: 3em 0em;
        }
        ul {
          display: flex;
          justify-content: space-between;
          @include tablet {
            padding: 0em;
            display: block;
          }

          li {
            text-decoration-style: none;
            list-style-type: none;
            a {
              color: $page-bg;
            }
            strong {
              padding: 0em 1em;
              @include tablet {
                display: none;
              }
            }
          }
        }
      }
      .address {
        text-align: right;
        @include tablet {
          text-align: center;
        }
        p {
          font-size: 12px;
          a {
            color: $page-bg;
          }
        }
      }
    }
    .bottom_content {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      @include tablet {
        flex-direction: column-reverse;
      }

      .rights {
        @include tablet {
          margin: 1em 0em;
        }
        p {
          font-size: 12px;
        }
      }
      .policy {
        span {
          strong {
            padding: 0em 0.2em;
          }
        }
      }

      .social {
        text-decoration: none;
        @include tablet {
          margin: 1em 0em;
        }
        a {
          padding: 0em 1em;
          .fab {
            font-size: 15px;
          }
        }
      }
    }
  }
}
